
.imagen_qr_modal{
    max-width: 50%; 
    height: auto
}
.imagen_modal{
    max-width: 70%; 
    height: auto
}


.qr-icon {
    margin-top: 0.5rem;
    cursor: pointer;
}

/* Estilos del modal (básico) */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 2rem;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}
#insertarQR-modal {
    max-width: 100%;
    height: auto;
    display: block;
}
