.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 10px;
    box-sizing: border-box;
}

.imagen_qr_modal {
    max-width: 50%;
    height: auto;
}

.imagen_modal {
    max-width: 70%;
    height: auto;
}

.tarjeta {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 400px;
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    box-sizing: border-box;
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.tarjeta-imagen {
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .tarjeta {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .tarjeta {
        flex: 1 1 100%;
    }
}

.qr-icon {
    margin-top: 0.5rem;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 2rem;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

#insertarQR-modal {
    max-width: 100%;
    height: auto;
    display: block;
}
